.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.underline--about {
  background-color: #bdc3c7;
}

.content--about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  width: 80%;
}
.profile {
  width: 48rem;
  display: flex;
  align-items: center;
  border-right: 0.3125rem solid #dfe3e6;
}
.profile__img {
  width: 12.5rem;
  height: 12.5rem;
}
.profile-right {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.profile-right__name {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.profile-right__text {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: -1rem;
  color: #343a40;
}
.link {
  width: 100%;
  margin-top: 0.75rem;
  height: auto;
  display: flex;
  align-items: center;
}
.link__address {
  background-color: #dfe3e685;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-left: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.link__icon {
  width: 1.75rem;
}

.introduce {
  margin-top: 5rem;
  margin-bottom: -2rem;
}
.introduce__text {
  width: 48rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}
