.Contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height:45rem;
  transition-duration: 1s;
  background-color: #2c3e50;
}

.contact_title{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.contact_title .underline{
  background-color: white;
}
.ct_text{
  font-size: 4rem;
}

#mail_iframe{
  height:0;width:0;border:0;border:none;visibility:hidden;
}
.contact_form{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width:25rem;
}
.contact_form input{
  background-color: #34495e;
  border: 0;
  padding: 0.5rem;
  color: white;
  width:100%;
}
.contact_form input:focus{outline:none;}
.contact_form input::placeholder{color:rgba(255,255,255,0.5);}
.contact_form textarea{
  background-color: #34495e;
  resize: none;
  border: 0;
  padding: 0.5rem;
  margin-top: 1rem;
  min-height:12rem;
  color: white;
  width:100%;
}
.contact_form textarea:focus{outline:none;}
.contact_form textarea::placeholder{color:rgba(255,255,255,0.5);}
.contact_form button{
  background-color: #34495e;
  border: 0 solid white;
  border-radius: 0 0;
  transition-duration: 1s;
  width:35%;
  padding: 0.5rem;
  margin-top: 1rem;
  color: rgba(255,255,255,0.5);
}
.after_mail{
  display: none;
  opacity: 0;
  transition-duration: 1s;
  margin-top: 5rem;
  align-items: center;
}
.after_mail p{
  color: #BDC3C7;
  font-size: 2rem;
  margin-top:1rem;
  margin-left:1rem;
}
