.Home {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202442;
  height: 100%;
}
.brightnessHigh {
  width: 7.5rem;
  height: 7.5rem;
}
.brightnessHighFill {
  transition-duration: 0.2s;
  opacity: 0;
  width: 3rem;
  height: 3rem;
  background-color: white;
  margin-top: -5.2rem;
  margin-bottom: 2.6rem;
  border-radius: 1.5rem 1.5rem;
}
.brightnessHighFill:hover {
  cursor: pointer;
  opacity: 100;
}
.home__text {
  font-size: 3rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition-duration: 1s;
  opacity: 0;
  margin-top: 3rem;
  text-align: center;
}
.home__text b {
  color: #de0581;
}
