.Portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.portfolio_title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio_title .underline{
  background-color: #bbdc59;
}
.pt_text{
  font-size: 4rem;
}

.portfolio_list{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio{
  width:40rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 75px 10px rgba(0,0,0,.05);
  margin-bottom: 2rem;
  transition-duration: 1s;
}

.pf_carousel{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}
.carousel_cancel{
  margin-top:1rem;
  font-size: 1.5rem;
}
.carousel_cancel:hover{
  cursor: pointer;
}
.carousel{
  max-width: 90%;
  max-height: 90%;
  z-index: 2;
}
.carousel ol{
  display:none;
}

.pf_top{
  width: 100%;
  cursor:pointer;
}
.pf_img{
  width: 100%;
}

.pf_bottom{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  width: 100%;
}
.pf_bottom_header{
  width: calc(100%-3rem);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.0625rem solid #dfe3e6;
  height:3.5rem;
}
.pf_title{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
  margin-bottom:0.75rem;
}
.pf_bottom_content{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: calc(100%-3rem);
  padding-top: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 1.2rem;
  height:calc(100% - 7rem);
}
.pf_bottom_footer{
  width: calc(100%-3rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
  display:flex;
  justify-content: flex-end;
}
.pf_link{
  font-family: 'Roboto', sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  border: 0;
}
