.Skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-color: #f0f7f7;
}

.underline--skill {
  background-color: #7ed7df;
}

.content--skill {
  width: 90%;
}
.skill-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.pop-in-order {
  transform: scale(0);
  transition-duration: 1s;
}
.skill-type {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-bottom: 1px solid;
}
.skill-type__text {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.25rem;
}
.skill-list {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-list__img {
  box-shadow: 0 0 4.6875rem 0.0625rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem 1rem;
  width: 5rem;
  height: 5rem;
  margin: 1.25rem;
}
