.Skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-color: #f0f7f7;
}

.skill_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill_title .underline {
  background-color: #7ed7df;
}
.st_text {
  font-size: 4rem;
}

.skill_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.pop_in_order {
  transform: scale(0);
  transition-duration: 1s;
}
.skill_type {
  margin-top: 0.5rem;
  color: #95a5a6;
  font-size: 1.75rem;
}
.skill_list {
  border-top: 1px solid #dfe3e6;
  padding-top: 1rem;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sl_img {
  box-shadow: 0px 0px 75px 10px rgba(0, 0, 0, 0.05);
  width: auto;
  border-radius: 1rem 1rem;
  height: 5rem;
  margin: 0.5rem;
}
.skill_texts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}
.sl_hover {
  border-radius: 1rem 1rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  transition-duration: 0.7s;
  opacity: 0;
  font-size: 1rem;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  padding-top: 1.75rem;
}
.sl_hover:hover {
  opacity: 100;
}
